@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@200;300;500&family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap");

:root {
   --backgroundColorDark: #1e1e1e;
   --textColor: rgb(233, 228, 219);
   --linkColor: rgb(207, 73, 10);
   --linkHoverColor: rgba(207, 73, 10, 0.6);
   --main-font: "Poppins", sans-serif;
   --side-bar-width: 400px;
}

* {
   margin: 0;
   padding: 0;
   background: var(--backgroundColorDark);
   box-sizing: border-box;
}

html {
   color: var(--textColor);
   font-family: var(--main-font);
}



/* HEADER Section */



header {
   width: 100vw;
   /* background: #111111; */
   overflow: hidden;
   text-align: center;
   padding-top: 4rem;
   padding-bottom: 1rem;
}

header>h1 {
   color: white;
   font-size: 3rem;
   width: 27rem;
   max-width: 60vw;
   margin: 10px auto;
   font-family: var(--main-font);
   background: rgba(255, 166, 0, 0.781);
   border-radius: 1rem;
   text-shadow: -3px -3px rgba(66, 59, 29, 0.459);
}

#logo {
   /* width: 30%; */
   /* width: 30vw; */
   margin: 1rem 2rem;
   width: 30rem;
   max-width: 75vw;
   border-radius: 1rem;
}


/* ------- Main Section ------- */


.nav-chapters {
   margin: auto;
   padding: 0 2rem;
   width: 60vw;
}

.nav-chapters hr {
   border: 0;
   /* border-radius: 50%;
   border-top: 3px solid rgba(255, 166, 0, 0.397); */
   height: 3px;
   border-radius: 50%;
   background-image: linear-gradient(to right, rgba(255, 166, 0, 0.027), rgba(255, 166, 0, 0.397), rgba(255, 166, 0, 0.027));
}



/* ------- Course Section ------- */


.chapter {
   background: inherit;
   padding: 4rem 0;
}

.chapter h1 {
   padding-bottom: 1rem;
   font-size: 2rem;
}

.section-list {
   display: grid;
   list-style: none;

   /* Sprawdzić działanie grid */
   grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
   gap: 40px 35px;
   /* background: darkblue; */
}


/* ------- Links section ------- */


.section-list a {
   text-decoration: none;
   font-size: 1.6em;
   color: var(--linkColor);
}

.section-list a:hover {
   color: var(--linkHoverColor);
}

.section-list p {
   font-weight: lighter;
}



/* ------- Page Section ------- */


.page {
   /* width: 100vw; */
   display: grid;
   grid-template-columns: 1fr var(--side-bar-width);
   position: relative;
}

.content {
   /* background: orange; */
   min-height: 200vh;
}

/* ------- Side Bar Navigation ------- */


.side-bar {
   padding: 5rem 3rem;
   position: fixed;
   top: 0;
   right: 0;
   /* background: darkcyan; */
   height: 100vh;
   width: var(--side-bar-width);
   overflow-y: scroll;
   font-size: 14px;
}

/* ------- Hide Scrollbar for Side-bar (Chrome) ------- */
.side-bar::-webkit-scrollbar {
   width: 0 !important
}

.side-bar::before,
.side-bar::after {
   content: '';
   left: 0.5rem;
   width: 2px;
   background-image: linear-gradient(to bottom, rgba(255, 166, 0, 0.027), rgba(255, 166, 0, 0.61), rgba(255, 166, 0, 0.027));
   border-radius: 50%;
   position: absolute;
}

.side-bar::before {
   height: 4rem;
   top: 0;
}

.side-bar::after {
   height: calc(100vh - 8rem);
   top: 8rem;
}

/* ------- Side Bar Button Open ------- */

#side-bar-button-show {
   height: 3rem;
   width: 1.2rem;
   border: 0;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   background: rgba(255, 166, 0, 0.719);
   position: fixed;
   top: 4.5rem;
   right: 0;
   z-index: 1;
   display: none;
}

#side-bar-button-show>.show,
#side-bar-button-show>.show::after,
#side-bar-button-show>.show::before {
   position: absolute;
   background: var(--backgroundColorDark);
   height: 0.1rem;
   width: 0.6rem;
   top: 1.45rem;
   left: 0.3rem;
   border-radius: 0.1rem;
}

#side-bar-button-show>.show::before {
   content: '';
   top: -0.25rem;
   left: 0;
}


#side-bar-button-show>.show::after {
   content: '';
   top: 0.25rem;
   left: 0;
}


#side-bar-button-show:hover {
   cursor: pointer;
}

/* ------- Side Bar Button Close ------- */

#side-bar-button-hide {
   height: 3rem;
   width: 1.2rem;
   border: 0;
   background: var(--backgroundColorDark);
   position: absolute;
   top: 4.5rem;
   left: 0;
}


#side-bar-button-hide>.hide,
#side-bar-button-hide>.hide::after,
#side-bar-button-hide>.hide::before {
   position: absolute;
   background: rgba(255, 166, 0, 0.719);
   height: 0.1rem;
   width: 0.6rem;
   top: 1.45rem;
   left: 0.3rem;
   border-radius: 0.1rem;
}

#side-bar-button-hide>.hide::before {
   content: '';
   top: -0.25rem;
   left: 0;
}


#side-bar-button-hide>.hide::after {
   content: '';
   top: 0.25rem;
   left: 0;
}

#side-bar-button-hide:hover {
   cursor: pointer;
}



/* ------- Side Bar Header ------- */

.side-bar h1 {
   font-size: 1.6em;
   padding-bottom: 2rem;
}

/* ------- Side Bar Links ------- */

.side-bar-link-header {
   color: var(--main-font);
   text-decoration: none;
   font-size: 1.2em;
   cursor: pointer;
   font-weight: normal;
   display: block;
}

.side-bar-link-header::selection {
   color: var(--main-font);
}

.side-bar-list {
   display: none;
   padding-left: 1.4em;
   list-style: none;
}

.side-bar-list-element {
   position: relative;
}

.side-bar-link {
   color: var(--linkColor);
   text-decoration: none;
   font-size: 1em;
   list-style-type: none;
}


.side-bar-link:hover {
   transition: color .3s ease-in-out;
   color: var(--linkHoverColor);
}

.side-bar-link:active {
   color: orange;
}


.side-bar-link::before,
.side-bar-link::after {
   content: '';
   position: absolute;
   height: 0.55em;
   width: 0.1em;
   left: -0.9em;
   background-color: red;
}


.current::before,
.current::after {
   content: '';
   position: absolute;
   background-color: rgb(0, 174, 255);
   height: 0.55em;
   width: 0.15em;
   left: -0.65em;
}

.side-bar-link::before,
.current::before {
   transform: rotate(-45deg);
   top: 0.3em;
}

.side-bar-link::after,
.current::after {
   transform: rotate(-135deg);
   bottom: 0.3em;
}

.side-bar-link:hover::before,
.side-bar-link:hover::after {
   content: '';
   transition: all .2s ease-in-out;
   left: -0.65em;
   /* transform: translateX(6px); */
}



/* ------- Media Queries ------- */



/* ------- 1370px ------- */


@media only screen and (max-width: 1370px) {
   :root {
      --side-bar-width: 340px;
   }
}


/* ------- 760px ------- */

@media only screen and (max-width: 760px) {
   header>h1 {
      font-size: 2.3rem;
   }

   .chapter {
      font-size: 14px;
   }
}


/* ------- 360px ------- */

@media only screen and (max-width: 360px) {
   header>h1 {
      font-size: 1.8rem;
   }

   .chapter {
      font-size: 12px;
   }
}


.test {
   display: flex;
   align-items: center;
   align-content: center;
}

.test>ul {
   padding-left: 100px;
}

.test>ul>li {
   position: relative;
}

.test>ul>li::before {
   content: '';
   position: absolute;
   left: -30px;
   top: 8px;
   background-color: orange;
   width: 10px;
   height: 10px;
   transition: all .5s ease-in-out;
}

.test>ul>li:hover::before {
   content: '';
   background-color: rebeccapurple;
   transform: translateX(10px);
}