@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@200;300;500&family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap");

:root {
   --backgroundColorDark: #1e1e1e;
   --textColor: rgb(233, 228, 219);
   --linkColor: rgb(207, 73, 10);
<<<<<<< HEAD
   --linkHoverColor: rgba(82, 43, 26, 0.7);
=======
   --linkHoverColor: rgba(207, 73, 10, 0.7);
>>>>>>> cd7328f7427a89c95d6194f54e74b5fbf3ea6bd1
   --main-font: "Poppins", sans-serif;
}

* {
   margin: 0;
   padding: 0;
<<<<<<< HEAD
=======
   box-sizing: border-box;
>>>>>>> cd7328f7427a89c95d6194f54e74b5fbf3ea6bd1
   background: var(--backgroundColorDark);
}

html {
<<<<<<< HEAD
   box-sizing: border-box;
=======
>>>>>>> cd7328f7427a89c95d6194f54e74b5fbf3ea6bd1
   color: var(--textColor);
   font-family: var(--main-font);
}



/* HEADER Section */



header {
<<<<<<< HEAD
   width: 100vw;
=======
   width: 100v;
>>>>>>> cd7328f7427a89c95d6194f54e74b5fbf3ea6bd1
   /* background: #111111; */
   overflow: hidden;
   text-align: center;
   padding-top: 4rem;
   padding-bottom: 1rem;
}

header>h1 {
   color: white;
   font-size: 3rem;
<<<<<<< HEAD
   width: 27rem;
   max-width: 60vw;
=======
   width: 27%;
>>>>>>> cd7328f7427a89c95d6194f54e74b5fbf3ea6bd1
   margin: 10px auto;
   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   background: rgba(255, 166, 0, 0.781);
   border-radius: 1rem;
   text-shadow: -3px -3px rgba(66, 59, 29, 0.459);
}

#logo {
<<<<<<< HEAD
   /* width: 30%; */
   /* width: 30vw; */
   margin: 1rem 2rem;
   width: 30rem;
   max-width: 65vw;
=======
   width: 30%;
>>>>>>> cd7328f7427a89c95d6194f54e74b5fbf3ea6bd1
   border-radius: 1rem;
}


/* ------- Content Section ------- */


.content {
   margin: auto;
   padding: 0 2rem;
   min-width: 65vw;
   max-width: 90vh;
}

.content hr {
   border: 0;
   /* border-radius: 50%;
   border-top: 3px solid rgba(255, 166, 0, 0.397); */
   height: 3px;
   border-radius: 50%;
   background-image: linear-gradient(to right, rgba(255, 166, 0, 0.027), rgba(255, 166, 0, 0.397), rgba(255, 166, 0, 0.027));
}



/* ------- Course Section ------- */


.section-title {
   background: inherit;
   padding: 4rem 0;
}

.section-title h1 {
   padding-bottom: 1rem;
}

.section-list {
   display: grid;
   list-style: none;

   /* Sprawdzić działanie grid */
   grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
   gap: 40px 35px;
   /* background: darkblue; */
}


/* ------- Links section ------- */


.section-list a {
   text-decoration: none;
   font-size: 1.6rem;
   color: var(--linkColor);
}

.section-list a:hover {
   color: var(--linkHoverColor);
}

.section-list p {
   font-weight: lighter;
}





/* ------- 1000px ------- */

/* @media only screen and (max-width: 1000px) {
   #logo {
      width: 30rem;
      border-radius: 0.6rem;
   }
} */


/* ------- 800px ------- */

/* @media only screen and (max-width: 800px) {
   #logo {
      width: 10rem;
      border-radius: 0.6rem;
   }
} */