#side-bar {
    // min-height: 100vh;
    // min-height: -webkit-fill-available;
    height: 100vh;
    width: $side-bar-width;
    // max-height: -webkit-fill-available;
    // max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    background-color: $dark-theme-background-side-bar;
    font-size: $side-bar-font-size;
    font-family: $side-bar-font;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-top: 4rem;
    top: 0;
    left: 0;

    #home-page {
        color: $dark-theme-font-color;

        #logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            padding: .5rem 0;
            margin: auto;

            img {
                width: 80px;
                height: 80px;
                filter: $dark-theme-logo-filter;
            }

            span {
                display: block;
                font-size: 1.8rem;
                font-family: $logo-font;
                text-transform: uppercase;
                text-shadow: 1px 1px rgba(75, 72, 72, 0.616);
                transform: rotate(-3deg);
            }
        }
    }

    #home-page:hover {
        #logo>span {
            color: $light-theme-font-color;
            text-shadow: 1px 1px rgba(107, 106, 106, 0.521);
            transition: all .4s;
        }

        #logo>img {
            filter: $dark-theme-logo-filter-hover;
            transition: all .3s;
        }
    }

    .side-bar-list {
        height: fit-content;
        text-decoration: none;
        list-style: none;
        width: fit-content;
        margin: 2rem 0 1rem 2.3rem;
        // background-color: red;

        .side-bar-list-element {
            // background-color: orange;
            padding: 0.2rem 0;
        }

        .logout {
            margin-top: 4rem;
        }

        .inner-list {
            list-style: none;
            padding: 0.2rem 0;

            .inner-list-element {
                position: relative;
                padding-left: 1.4rem;
                // display: none;
            }

            .inner-list-element::before {
                content: '';
                position: absolute;
                width: .2rem;
                height: .2rem;
                background-color: $dark-theme-font-color;
                border-radius: 100%;
                top: calc(50% - .1rem);
                left: .8rem;
            }
        }
    }

    transition: transform .5s ease-in-out;

}

#side-bar::after {
    content: '';
    position: fixed;
    top: 0;
    left: calc($side-bar-width - 2px);
    width: 4px;
    height: 100vh;
    background-color: rgb(80, 80, 80);
    border-radius: 50%;
}

#side-bar::-webkit-scrollbar {
    width: 0 !important;
}

#side-bar.hide {
    transform: translateX(-$side-bar-width);
}

#side-bar.show {
    display: block;
}