@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

$main-font-color: #474747;
$main-font-family: 'Montserrat', sans-serif;

$header-font-size: 28px;

$article-img-height: 300px;
$article-img-width: 345.8px;
$read-more-button-font-size: 14px;

$article-header-font-size: 24px;
$article-description-font-size: 18px;
$article-description-info-font-size: 14px;
$article-description-tags-font-size: 18px;
$article-footer-height: 6rem;
