#content {
    padding: 4rem 1rem;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    h1 {
        padding: 0 2rem;
        color: $dark-theme-font-color;
        font-family: $main-font;
        font-weight: 300;
        -webkit-text-size-adjust: none;
        font-size: 1.6rem;
        width: fit-content;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            text-align: center;
            -webkit-text-size-adjust: none;
            font-size: 2rem;
            padding-bottom: .8rem;
            font-weight: 500;
            width: fit-content;
            display: block;
        }
    }

    article {
        text-indent: 1.8rem;
        font-size: 1.2rem;
        text-align: justify;
    }
}

.products__table {
    width: 100%;
    background-color: cadetblue;
    .products__header {
        text-align: center;
        background-color: rgb(136, 95, 160);
    }

    .products__body {
        background-color: rebeccapurple;
        tr, td {
            text-align: center;

        }
    }
}