.white {
  color: #FFFFFF;
}

.line {
  width: 85vw;
  max-width: 1400px;
  margin: auto;
  border-style: none;
  border-top-width: 3px;
  border-top-style: solid;
  padding-bottom: 1rem;
}

.line-dark {
  border-color: #474747;
}

.line-white {
  border-color: #FFFFFF;
}
