@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #474747;
}

:root {
  --article-footer-hight: 6rem;
}

.main-header {
  width: fit-content;
  margin: auto;
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
  font-size: 28px;
  font-weight: 400;
}

.white {
  color: #FFFFFF;
}

.line {
  width: 85vw;
  max-width: 1400px;
  margin: auto;
  border-style: none;
  border-top-width: 3px;
  border-top-style: solid;
  padding-bottom: 1rem;
}

.line-dark {
  border-color: #474747;
}

.line-white {
  border-color: #FFFFFF;
}

.articles {
  width: 80vw;
  max-width: 1250px;
  margin: auto;
  padding: 4.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.short-article {
  display: flex;
  gap: 5.5rem;
}


.article-img {
  /* margin: auto; */
  width: 345.8px;
  height: 300px;
  position: relative;
}

.article-img-slide {
  transition: transform 1s;
  /* transform: translateY(15rem); */
}

.read-more-button {
  cursor: pointer;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  border: none;
  padding: 0.7rem 3rem;
  border-radius: 0.8rem;
  font-size: 14px;
  font-weight: 400;
  transition: background .8s;
}

.read-more-button:hover {
  background: rgba(255, 255, 255, 0.699);
}

.disapeared {
  transition: transform 1s;
  transform: scale(0%);
}

.show {
  transition: transform 1s;
  transform: scale(100%);
}

.article-content {
  position: relative;
  /* background-color: #4e7d973a; */
  padding: .3rem;
  border-radius: 5px;
  /* padding-left: 5.5rem; */
}

.article-header {
  font-size: 24px;
  font-weight: 400;
  height: 4rem;
  padding-bottom: 1rem;
}

.article-description {
  font-size: 18px;
  font-weight: 400;
  /* padding-bottom: var(--article-footer-hight); */
  /* background-color: red; */
}

.article-description-full {
  padding-bottom: var(--article-footer-hight);
  font-size: 18px;
  font-weight: 400;
}

.article-footer {
  /* background-color: #399FD6; */
  position: absolute;
  padding-top: 2rem;
  bottom: .4rem;
  height: var(--article-footer-hight);
  width: 80%;
}

.info {
  display: flex;
  gap: 3rem;
  font-size: 14px;
  font-weight: 300;
}

.tags {
  display: flex;
  gap: 3rem;
  font-size: 18px;
  font-weight: 400;
  padding-top: 1rem;
}

.tags>p {
  color: #399FD6;
  text-decoration: none;
}

.about-us {
  background-image: url("./../images/AboutUsBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slide-down {
  transition: all 1s;
  transform: translateY(30px);
}

.slide-up {
  transition: all 1s;
  transform: translateY(-30px);
}