* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-text-size-adjust: none;
}

body {
    position: relative;
    // min-height: 100vh;
    display: flex;
}

.hide {
    display: none;
}

.show {
    display: block;
}