* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    position: relative;
    background-color: $dark-theme-background;
    min-height: 100vh;
    // display: flex;
}

.preload * {
    transition: none !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}