@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@200;300;500&family=Roboto:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  display: flex;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dark {
  background-color: #343434;
  color: #d1d0ca;
}

.light {
  background-color: #FFF;
  color: #000;
}

#side-bar {
  width: 18rem;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  overflow-y: auto;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  background-color: #3a3a3a;
  font-size: 1.4rem;
  font-family: "Indie Flower", cursive;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 4rem;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
#side-bar #home-page {
  color: #d1d0ca;
}
#side-bar #home-page #logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 0;
  margin: auto;
}
#side-bar #home-page #logo img {
  width: 80px;
  height: 80px;
  filter: invert(96%) sepia(6%) saturate(184%) hue-rotate(29deg) brightness(90%) contrast(100%);
}
#side-bar #home-page #logo span {
  display: block;
  font-size: 1.8rem;
  font-family: "Indie Flower", cursive;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(75, 72, 72, 0.616);
  transform: rotate(-3deg);
}
#side-bar #home-page:hover #logo > span {
  color: #000;
  text-shadow: 1px 1px rgba(107, 106, 106, 0.521);
  transition: all 0.4s;
}
#side-bar #home-page:hover #logo > img {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(312deg) brightness(98%) contrast(102%);
  transition: all 0.3s;
}
#side-bar .side-bar-list {
  height: fit-content;
  text-decoration: none;
  list-style: none;
  width: fit-content;
  margin: 2rem 0 1rem 2.3rem;
}
#side-bar .side-bar-list .side-bar-list-element {
  padding: 0.2rem 0;
}
#side-bar .side-bar-list .logout {
  margin-top: 4rem;
}
#side-bar .side-bar-list .inner-list {
  list-style: none;
  padding: 0.2rem 0;
}
#side-bar .side-bar-list .inner-list .inner-list-element {
  position: relative;
  padding-left: 1.4rem;
}
#side-bar .side-bar-list .inner-list .inner-list-element::before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background-color: #d1d0ca;
  border-radius: 100%;
  top: calc(50% - 0.1rem);
  left: 0.8rem;
}

#side-bar::after {
  content: "";
  position: fixed;
  top: 0;
  left: calc(18rem - 2px);
  width: 4px;
  height: 100vh;
  background-color: #505050;
  border-radius: 50%;
}

#side-bar::-webkit-scrollbar {
  width: 0;
}

#side-bar.hide {
  transform: translateX(-18rem);
}

#side-bar.show {
  display: block;
}

#content {
  padding: 4rem 2.5rem;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
}
#content h1 {
  color: #d1d0ca;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content h1 span {
  text-align: center;
  padding-bottom: 1rem;
  font-weight: 500;
  width: fit-content;
  display: block;
}

.hamburger {
  position: fixed;
  top: 0.8rem;
  left: 0.7rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger-box {
  width: 16px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.4s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  content: "";
  left: 0;
  transition: transform 0.3s 0.3s ease-in-out;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  top: 7px;
}

.hamburger--active .hamburger-inner {
  background-color: transparent;
}

.hamburger--active .hamburger-inner::before {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--active .hamburger-inner::after {
  transform: translateY(-7px) rotate(-45deg);
}

/*# sourceMappingURL=main.css.map */
